<html>
	<head>
		<link href="/assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>
			Hello World@! from render for <%= ID %> with <%= ID.length %>
		</h1>	
		<h2>
			Using query string param : <%= Qstr %>
		</h2>
	</body>
</html>