<!DOCTYPE html>
<html ng-app="exampleApp">
	<head>
		<title>Forms</title>
		<script src="angular.js"></script>
			<link href="bootstrap.css" rel="stylesheet" />
			<link href="bootstrap-theme.css" rel="stylesheet" />
		<script>
			angular.module("exampleApp", []).controller("defaultCtrl", function ($scope) {
				$scope.requireValue = true;
				$scope.matchPattern = new RegExp("^[a-z]");
				
				$scope.textArea = new Object();
				$scope.textArea.requireValue = true;
				$scope.textArea.matchPattern = new RegExp("^[a-z]");
				
				$scope.todos = [
					{ id: 100, action: "Get groceries", complete: false },
					{ id: 200, action: "Call plumber", complete: false },
					{ id: 300, action: "Buy running shoes", complete: true }];

				$scope.todo1 = [
					{ id: 100, place: "Store", action: "Get groceries", complete: false },
					{ id: 200, place: "Home", action: "Call plumber", complete: false },
					{ id: 300, place: "Store", action: "Buy running shoes", complete: true }];

			});
		</script>
	</head>

	<body>
		<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
			<form name="myForm" novalidate>
				<div class="well">
					<div class="form-group">
						<label>Text:</label>
							<input name="sample" class="form-control" ng-model="inputValue" ng-required="requireValue" ng-minlength="3"
								ng-maxlength="10" ng-pattern="matchPattern">
					</div>
				</div>
		
				<div class="well">
					<p>Required Error: {{myForm.sample.$error.required}}</p>
					<p>Min Length Error: {{myForm.sample.$error.minlength}}</p>
					<p>Max Length Error: {{myForm.sample.$error.maxlength}}</p>
					<p>Pattern Error: {{myForm.sample.$error.pattern}}</p>
					<p>Element Valid: {{myForm.sample.$valid}}</p>
				</div>
			</form>
		</div>
		
		
		<div id="todoPanel1" class="panel" ng-controller="defaultCtrl">
			<form name="myForm" novalidate>
				<div class="well">
					<div class="checkbox">
						<label>
							<input name="sample" type="checkbox" ng-model="inputValue" ng-true-value="Hurrah!" ng-false-value="Boo!">
								This is a checkbox
						</label>
					</div>
				</div>
				<div class="well">
					<p>Model Value: {{inputValue}}</p>
				</div>
			</form>
		</div>
		
		
		<div id="todoPanel2" class="panel" ng-controller="defaultCtrl">
			<form name="myForm2" novalidate>
				<div class="well">
					<div class="form-group">
						<textarea name="sample" cols="40" rows="3" ng-model="textArea.textValue" ng-required="textArea.requireValue" ng-minlength="3"
							ng-maxlength="10" ng-pattern="textArea.matchPattern">
						</textarea>
					</div>
				</div>
				
				<div class="well">
					<p>Required Error: {{myForm2.sample.$error.required}}</p>
					<p>Min Length Error: {{myForm2.sample.$error.minlength}}</p>
					<p>Max Length Error: {{myForm2.sample.$error.maxlength}}</p>
					<p>Pattern Error: {{myForm2.sample.$error.pattern}}</p>
					<p>Element Valid: {{myForm2.sample.$valid}}</p>
				</div>
			</form>
		</div>

		<div id="todoPanel3" class="panel" ng-controller="defaultCtrl">
			<form name="myForm" novalidate>
				<div class="well">
					<div class="form-group">
					<label>Select an Action:</label>
						<select ng-model="selectValue" ng-options="item.action for item in todos">
							<option value="" class="">(Pick One)</option>
						</select>
					</div>
				</div>
				<div class="well">
					<p>Selected: {{selectValue || 'None'}}</p>
				</div>
			</form>
		</div>

		
		<div id="todoPanel4" class="panel" ng-controller="defaultCtrl">
			<form name="myForm" novalidate>
				<div class="well">
					<div class="form-group">
						<label>Select an Action:</label>
						<select ng-model="selectValue" ng-options="item.action group by item.place for item in todo1">
							<option value="">(Pick One)</option>
						</select>
					</div>
				</div>
				<div class="well">
					<p>Selected: {{selectValue || 'None'}}</p>
				</div>
			</form>
		</div>

	</body>
</html>
